* {
    margin: 0;
    padding: 0;
    font-family: Questrial;
}

header {
    width: 100%;
    background-color: #2056ac;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

header i.fa-cog {
    font-size: 3em;
    margin: 0.15em auto;
}

header a {
    color: white;
    margin: 0.25em 0;
    text-decoration: none;
}

h1 {
    color: white;
    margin-bottom: 0.25em;
}

#section1 p{
    margin: 0.75em;
}

#section1, #section2 {
    border-bottom: 1px solid silver;
    margin: auto;
    width: 90%;
}

#section3 {
    margin: auto;
    width: 90%;nav {
    margin: 0.5em auto;
}
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    width: 95%;
    margin: 0.75em auto;
}

h2 {
    margin: 1em auto;
}

article {
    width: 100%;
    margin: 0.75em auto;
}

main p {
    margin: 0.5em 0;
}

ul li {
    width: 80%;
    margin: 0.75em auto;
    list-style: none;
    padding: 0;
    color: white;
    border: solid 2px white;
    padding: 0.25em;
    border-radius: 5px;
}

button {
    background-color: #64ABD1;
    border: none;
    color: white;
    padding: 0.75em 1em;

}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0EFF7;
}

footer article {
    width: 90%;
    margin: 0.75em auto;
}

footer i {
    color: #5B6063;
}

footer p {
    color: #5B6063;
    text-transform: uppercase;
}

#footer2 {
    background-color: #2056ac;
    border-top: solid 1em #3b4eb2;
}

#footer2 p {
    color: white;
    margin: 2em auto;
}

#footer2 ul li {
    background-color: #64ABD1;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-bottom: 2em;
    border: none;
    border-radius: 0;
}

#footer2 ul li i {
    color: white;
    line-height: 2em;
}



@media screen and (min-width: 1200px) {
    body {
        font-size: 16px;
        width: 1200px;
        margin: auto;
        border: solid 0.5px rgb(103, 103, 103);
        box-shadow: 0px 0px 15px 0px;
    }

    h1 {
        font-size: 56px;
    }

    header i.fa-cog {
        font-size: 6em;
        margin: 0.15em auto;
        margin-top: 1em;
        color: white;
    }


    header li {
        display: inline-block;

    }

    header ul {
        margin-top: 3em;
    }

    ul li {
        width: 10%;
        margin: 0em auto;
        list-style: none;
        padding: 0;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 0.75em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    header ul li:hover a{
        color: #2056ac;
    }

    header ul li:hover {
        background-color: white;

    }

    ul .selected {
        background-color: white;
    }

    li .select {
        color: #2056ac;
    }

    img {
        width: 100%;
        margin: 3em auto;
    }

    h2 {
        font-size: 45px;
    }

    button:hover {
        background-color: #2056ac;
    }

    #section1 p {
        width: 85%;
        margin: auto;
        margin-bottom: 6em;
    }


    #section2 {
        display: flex;
        flex-direction: row;
    }

    #section2 article {
        width: 30%;
        margin: 6em auto;
    }

    #section3 {
        display: flex;
        flex-direction: row;
    }

    #section3 article {
        width: 24%;
        margin: 6em auto;
    }

    #footer1 {
        display: flex;
        flex-direction: row;
    }

    #footer1 article {
        width: 25%;
        margin: 6em auto;
    }

    #footer1 i {
        font-size: 4em;
        margin-bottom: 0.5em;
    }
}
